<p>When a service falls short of its users' expectations, #unbreaknow makes it quick and easy for users to voice their concerns so that companies know what their users care about.</p>

<%= link_to "Submit a bug", controller: :bugs, action: :new %>
<%= link_to "Browse existing bugs", controller: :bugs, action: :index %>
