<p>When a service falls short of its users' expectations, users should be able to easily and quickly voice their concerns so that companies know what their users care about.</p>

<%= link_to "Submit a bug", new_bug_path, class: "btn btn-primary btn-lg btn-block" %>
<%= link_to "Browse existing bugs", bugs_path, class: "btn btn-success btn-lg btn-block" %>
