<%= link_to "Submit a bug", new_bug_path, class: "btn btn-primary btn-lg btn-block" %>

<div class="bugs">
  <% @bugs.each do |bug| %>
    <div class="summary">
      <%= link_to "Unbreak @#{bug.service_twitter} by #{bug.short_description}", bug %>
    </div>
  <% end %>
</div>
