<%= link_to "Submit a bug", new_bug_path, class: "btn btn-primary btn-lg btn-block" %>

<hr class="divider"/>

<div>
  <ul class="list-group">
    <% @bugs.each do |bug| %>
      <%= link_to "Unbreak @#{bug.service_twitter} by #{bug.short_description}", bug, class: "list-group-item" %>
    <% end %>
  </ul>
</div>

<hr class="divider"/>

<div class="credits">
  by <a href="https://twitter.com/dskang">@dskang</a>
</div>
