<%= link_to "Submit a bug", new_bug_path, class: "btn btn-primary btn-lg btn-block" %>

<hr/>

<div class="recent">
  <h4>Most Recent</h4>
  <ul class="list-group">
    <% @bugs.each do |bug| %>
      <%= link_to "Unbreak @#{bug.service_twitter} by #{bug.short_description}", bug, class: "list-group-item" %>
    <% end %>
  </ul>
</div>

<hr/>

<div class="timeline">
  <a class="twitter-timeline"
    data-chrome="nofooter transparent"
    href="https://twitter.com/search?q=%23unbreaknow"
    data-widget-id="372880302592376832">Tweets about "#unbreaknow"</a>
</div>

<hr/>

<div class="credits">
  by <a href="https://twitter.com/dskang">@dskang</a>
</div>

<script src="//platform.twitter.com/widgets.js"></script>
