<%= link_to "Submit a bug", new_bug_path, class: "btn btn-primary btn-lg btn-block" %>

<hr class="divider"/>

<ul class="list-group">
  <% @bugs.each do |bug| %>
    <%= link_to "Unbreak @#{bug.service_twitter} by #{bug.short_description}", bug, class: "list-group-item" %>
  <% end %>
</div>
