<div class="tweet-box">
  <div class="tweet-content">
    <% twitter_link = link_to "@#{@bug.service_twitter}", "https://twitter.com/#{@bug.service_twitter}" %>
    <% current_url_link = link_to @current_url %>
    <% hashtag_link = link_to "#unbreaknow", "https://twitter.com/search?q=%23unbreaknow" %>
    <%= "Unbreak #{twitter_link} by #{@bug.short_description} #{current_url_link} #{hashtag_link}".html_safe %>
  </div>

  <div class="tweet-button">
    <a href="https://twitter.com/share"
      class="twitter-share-button"
      data-count="none"
      data-url=""
      data-size="large"
      data-text="<%= "Unbreak @#{@bug.service_twitter} by #{@bug.short_description} #{@current_url} #unbreaknow" %>"
      data-related="unbreaknow"
      data-lang="en">Tweet</a>
  </div>
</div>

<% unless @bug.long_description.blank? %>
  <div class="description">
    <h4>Description</h4>
    <p><%= simple_format @bug.long_description %></p>
  </div>
<% end %>

<script src="//platform.twitter.com/widgets.js"></script>
