<div class="tweet-box">
  <div class="tweet-content">
    <% twitter_link = link_to "@#{@bug.service_twitter}", "https://twitter.com/#{@bug.service_twitter}" %>
    <% hashtag_link = link_to "#unbreaknow", "https://twitter.com/search?q=%23unbreaknow" %>
    <%= "Unbreak #{twitter_link} by #{@bug.short_description} #{hashtag_link}".html_safe %>
  </div>

  <div class="tweet-button">
    <% tweet_text = "Unbreak @#{@bug.service_twitter} by #{@bug.short_description}" %>
    <%= link_to "I want this fixed!", "http://twitter.com/intent/tweet?#{@twitter_params}", class: "btn btn-success btn-lg btn-block" %>
  </div>
</div>

<% unless @bug.long_description.blank? %>
  <div class="description">
    <h4>Description</h4>
    <p><%= simple_format @bug.long_description %></p>
  </div>
<% end %>

<script src="//platform.twitter.com/widgets.js"></script>
